lxml==5.2.2
kaleido==0.2.1.post1
tldextract==5.1.2
matplotlib==3.9.0
BeautifulSoup4==4.12.3
requests[socks]==2.32.3
playwright==1.44.0
pandas==2.2.2
pillow==10.3.0
#dotenv
python-dotenv
Mastodon.py
playwright_stealth
cv2
smtplib
telethon
